body{
    background-color: rgb(183, 164, 164);
}
*{
    margin: 0;
    padding: 0;
}
.logo{
 padding: 0 23px ;
}
.logo img{
    width: 50px;
}
nav{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(119, 106, 106);
    color: aliceblue;
    height: 56px;
} 
.content{
    font-family: 'Potta One', cursive;
}
.container{
    width: 60vw;
    margin: auto;
    padding: 32px 0;
    font-weight: bold ;
}
.toolbar-item button{
    cursor: pointer !importent;
    color: aliceblue !importent;
    border: 1px solid whitesmoke !importent;
    padding: 5px 14px !importent;
    border-radius: 15px !importent;
}